<footer class="page-footer text-center text-md-left pt-4">
    <!--Social buttons-->
    @*<div class="social-section text-center">
        <ul class="list-unstyled list-inline">
            <li class="list-inline-item"><a class="btn-floating btn-fb waves-effect waves-light"><i class="fa fa-facebook"> </i></a></li>
            <li class="list-inline-item"><a class="btn-floating btn-tw waves-effect waves-light"><i class="fa fa-twitter"> </i></a></li>
            <li class="list-inline-item"><a class="btn-floating btn-gplus waves-effect waves-light"><i class="fa fa-google-plus"> </i></a></li>
            <li class="list-inline-item"><a class="btn-floating btn-li waves-effect waves-light"><i class="fa fa-linkedin"> </i></a></li>
            <li class="list-inline-item"><a class="btn-floating btn-git waves-effect waves-light"><i class="fa fa-github"> </i></a></li>
        </ul>
    </div>*@
    <!--/.Social buttons-->
    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        <div class="container-fluid">
            © 2018 Copyright. <a href="http://www.MDBootstrap.com"> MDBootstrap.com </a>
        </div>
    </div>
    <!--/.Copyright-->
</footer>