@*@inject IAccountService accountService;*@

@{

    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}



<div class="wrapper">

    <!--Side Menu-->
        @await Html.PartialAsync("_Sidebar.cshtml")
    <!--End of Side Menu-->


    <!-- Page Content -->
    <div id="content">

        <!--Navbar -->
            @await Component.InvokeAsync("NavBar")
        <!--End of Navbar -->

        @RenderBody()

        <!--Footer-->
            @await Html.PartialAsync("_Footer.cshtml")
        <!--End of Footer -->

    </div>

</div>

@section scripts
{
  @RenderSection("Scripts", required: false)
}


