@using MicroBlog.Models.ViewModels;
@model UserProfileViewModel;

<nav class="navbar fixed-top navbar-expand-md scrolling-navbar">
    <!-- SideNav slide-out button -->
    @if (Model.Roles.Contains("Admin"))
    {
        <div class="float-left">
            <a id="sidebarCollapse" href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars fa-2x"></i><span class="sr-only" aria-hidden="true">Toggle side navigation</span></a>
        </div>
    }
    <!-- Navbar links-->
    <div class="breadcrumb-dn mr-auto">
        <p>Micro Blog</p>
    </div>

    <ul class="nav navbar-nav nav-flex-icons ml-auto">
        @*<li class="nav-item active">
                <a class="nav-link waves-effect waves-light" href="#">
                    <i class="fa fa-envelope"></i> Contact
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="#">
                    <i class="fa fa-gear"></i> Settings
                </a>
            </li>*@
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="fa fa-user"></i> Profile
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                <a class="dropdown-item waves-effect waves-light" href="#">My account</a>
                <a asp-route="logout" class="dropdown-item waves-effect waves-light">Log out</a>
            </div>
        </li>
    </ul>
</nav>
