
    <div class="col-xs-12 col-lg-6">
        <div class="card">
            <!-- Card content -->
            <div class="card-body">
                <!-- Title -->
                <h4 class="card-title"><a>American University Dubai</a></h4>
                <!-- Text -->
                <p class="card-meta-block">
                    <div class="card-meta">
                        <span class="badge badge-default">Started</span>
                    </div>
                    <div class="card-meta">
                        <i class="fa fa-clock-o"></i> <span>Medium</span>
                    </div>
                    <div class="card-meta">
                        <i class="fa fa-user"></i> <span>Ese</span>
                    </div>
                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-lg-6">
        <div class="card">
            <!-- Card content -->
            <div class="card-body">
                <!-- Title -->
                <h4 class="card-title"><a>MITEF REVAMP</a></h4>
                <p class="card-meta-block">
                    <div class="card-meta">
                        <span class="badge badge-warning">Completed</span>
                    </div>
                    <div class="card-meta">
                        <i class="fa fa-clock-o"></i> <span>Medium</span>
                    </div>
                    <div class="card-meta">
                        <i class="fa fa-user"></i> <span>Ese</span>
                    </div>
                </p>
            </div>
        </div>
    </div>