@using MicroBlog.Models.ViewModels
@model ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    ViewBag.Title = "Forgot Password";
}

<div class="auth-container container">

    <div class="form-container">
        <!-- Default form login -->
        <form asp-action="ForgotPassword" asp-controller="Account" method="post" class="text-center border border-light p-5" novalidate>

            <p class="h4 mb-4">Forgot Password</p>

            <div class="form-row mb-4 text-danger" asp-validation-summary="ModelOnly"></div>
            @if (TempData["Message"] != null)
            {
                <div class="form-row mb-4 text-success">@TempData["Message"].ToString()</div>
            }

            @if (TempData["Error"] != null)
            {
                <div class="form-row mb-4 text-danger">@TempData["Error"].ToString()</div>
            }
            @if (ViewBag.Error != null)
            {
                <div class="form-row mb-4 text-danger">@ViewBag.Error</div>
            }

            @if (ViewBag.Message != null)
            {
                <div class="form-row mb-4 text-success">@ViewBag.Message</div>
            }


            <!-- Email -->
            <input asp-for="Email" type="text" id="defaultLoginFormEmail" value="ese.erigha@gmail.com" class="form-control mb-4" placeholder="Email" />
            <span asp-validation-for="Email" class="validation-feedback text-danger">

            </span>

            <div class="d-flex justify-content-around">
                <div>
                    <!-- Forgot password -->
                   Already have an account?  <a asp-controller="Account" asp-action="Login">Login</a>
                </div>
            </div>



            <!-- Sign in button -->
            <button class="btn btn-info btn-block my-4" type="submit">Send Reset Email</button>
            <!-- Register -->

        </form>
        <!-- Default form login -->
    </div>
</div>
