@using MicroBlog.Models.ViewModels
@model ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    ViewBag.Title = "Reset Password";
}

<div class="auth-container container">
    <div class="form-container">
        <!-- Default form register -->
        <form asp-action="ResetPassword" asp-controller="Account" method="post" class="text-center border border-light p-5" novalidate>
            <p class="h4 mb-4">Sign up</p>

            <div class="form-row mb-4 text-danger" asp-validation-summary="ModelOnly"></div>

            @if (ViewBag.Error)
            {
                <div class="form-row mb-4 text-danger">@ViewBag.Error</div>
            }

            @if (ViewBag.Message)
            {
                <div class="form-row mb-4 text-success">@ViewBag.Message</div>
            }

            <div class="form-row mb-4">

                <!-- E-mail -->
                <input asp-for="Email" type="email" id="defaultRegisterFormEmail" class="form-control" value="@Model.Email" placeholder="E-mail" />
                <span asp-validation-for="Email" class="validation-feedback text-danger">
                </span>

            </div>

            <div class="form-row mb-4">

                <!-- Password -->
                <input asp-for="Password" type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock" />

                <span asp-validation-for="Password" class="validation-feedback text-danger">
                </span>

            </div>


            <div class="form-row mb-4">
                <!--Confirm Password -->
                <input asp-for="ConfirmPassword" type="password" id="defaultRegisterFormConfirmPassword" class="form-control" placeholder="Confirm Password" aria-describedby="defaultRegisterFormPasswordHelpBlock" />
                <span asp-validation-for="ConfirmPassword" class="validation-feedback text-danger">
                </span>
            </div>

            <input asp-for="PasswordResetToken" value="@Model.PasswordResetToken" type="hidden" />

            <!-- Sign up button -->
            <button class="btn btn-info my-4 btn-block" type="submit">Reset Password</button>

        </form>
        <!-- Default form register -->
    </div>
</div>
